<h1>new album</h1>

<%#= render "form", album: @album, action: :new %>

<form action=/albums method= 'POST' >
  <label for='album[name]' id='album_name'> Name </label>
  <input type='text' name='album[name]'>
<br>
  <label for='album[band_id]' id='album_band_id'> Band </label>
    <select name='album[band_id]'>
      <% Band.all.each do |band| %>
        <option value='<%= band.id %>'> <%= band.name %> </option>
      <% end %>
    </select>
<br>
<label for='album[setting]' id='album_setting'> Setting </label>
  <select name='album[setting]'>
    <option value='studio'selected > studio </option>
    <option value='live' > live </option>
  </select>
<br>
  <%= form_auth %>
<br>
  <input type='submit' value="create album" >
</form>
